// RewriteEngine On
// RewriteBase /
// # If using a virtual host such as http://gem.local/, keep the RewriteBase at root so all requests route through index.php.

// RewriteCond %{REQUEST_FILENAME} !-f
// RewriteCond %{REQUEST_FILENAME} !-d
// RewriteRule ^(.*)$ index.php [QSA,L]