/* Navbar */
.custom-navbar {
  height: 60px;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  z-index: 9999;
}

/* Logo */
.logo {
  height: 55px;
  padding-left: 50px;
}


.museum-menu-btn {
    position: fixed;
    left: 20px;
    top: 30px;
    transform: translateY(-50%);

    width: 60px;
    height: 60px;

    background: linear-gradient(145deg, #c9a646, #8f6a23); /* دهبي فخم */
    border: none;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 4px 15px rgba(0,0,0,0.25);
    z-index: 10000;

    transition: 1s ease;
}
.btn-click-navbar{
  left: 260px ;
}

.museum-menu-btn i {
    font-size: 28px;
    color: #fffdf2; /* أبيض مائل للذهبي */
}

.museum-menu-btn:hover {
    transform: translateY(-50%) scale(1.08);
    box-shadow: 0 6px 22px rgba(0,0,0,0.35);
}

.test {
  left: 0 !important;
}
/* Sidebar */
#gemSidebar {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100vh;
  background: linear-gradient(to bottom, #251e16, #1a1410);
  padding: 30px 20px;
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.4);
  z-index: 9999;
  transition: 1s;
  clip-path: polygon(
    0 0,
    85% 0,
    100% 20%,
    90% 40%,
    100% 60%,
    85% 80%,
    100% 100%,
    85% 100%,
    0 100%
  );
}

/* Logo */
.sidebar-logo {
  text-align: center;
  margin-bottom: 40px;
}

.sidebar-logo img {
  width: 120px;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.4));
}



.sidebar-links a {
  text-decoration: none;
  color: #f6e7c9; /* gold-ish */
  font-size: 1.3rem;
  font-family: "Georgia", serif;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(181, 137, 70, 0.4);
  transition: 0.3s ease;
}

.sidebar-links a:hover {
  color: #b58946;
  border-bottom-color: #b58946;
  padding-left: 8px;
}

#sidebarToggle {
  border-color: #b58946 !important;
  color: #b58946 !important;
  font-size: 1.2rem;
  backdrop-filter: blur(3px);
  border-radius: 6px;
  right: 20px;
}

#sidebarToggle:hover {
  background: #b58946 !important;
  color: white !important;
}
/* Parent container */
.nav-actions {
  display: flex;
  align-items: center;
  gap: 12px; /* المسافة بين الزرين */
}

/* Language button */
.lang-btn {
  padding: 6px 14px;
  background: #b58946; /* Gold */
  border: 2px solid #b58946;
  color: white;
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.25s ease;
}

.lang-btn:hover {
  background: transparent;
  color: #b58946;
}

/* Login button (لو عايز تظبيط شكله كمان) */
.login-btn {
  padding: 7px 18px;
  background: transparent;
  border: 2px solid #b58946;
  color: #b58946;
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.95rem;
  text-decoration: none;
  transition: 0.25s ease;
}

.login-btn:hover {
  background: #b58946;
  color: white;
}